/* .quadrado{
    opacity: 0;
    height: 300px;
    transition: 1s;
    width: 300px;
}

.vermelho{
    background-color: red;

}

.com-bordas{
    border: 1px solid black;
    border-radius: 10px;
}

.visivel{
    opacity: 1;
}

img{
    opacity: 0.2;
    transition: 1s;
}

.destaque{
    opacity:1;
    /* transform: scale(1.1); */
/* } */

.menuHamburguer{
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
}

.traco {
    background-color: black;
    border:2px solid black;
    height: 2px;
    margin: 2px 0;
    width: 100%;
}

.navMenuHamburguer{
    opacity:0;
}
.visivel{
    opacity:1; 
}